@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.add-list__button {
  width: "100%";
  display: flex;
  align-items: center;
  height: 40px;
  padding: $space-sm;
  color: $color-secondary-100;
  border-radius: 0.2rem;
  background-color: $color-primary-200;
  cursor: pointer;
  border: none;
  gap: $space-xs;

  @include bg-transition;
  @include text-base;

  &:hover {
    background-color: darken($color-primary-200, 2%);
  }

  svg {
    width: 12px;
    height: 12px;
  }
}
