@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.board {
  display: flex;
  flex-direction: column;
  gap: $space-sm;
  height: 100%;

  &__title-form {
    height: 48px;
  }

  &__header {
    padding: $space-sm;
    color: $color-secondary-100;
    font-weight: $font-bold;
    cursor: pointer;
    max-width: 250px;
    @include text-lg;
    @include truncate;
  }

  &__lists {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: $space-md;
    padding: $space-sm;
    overflow-x: auto;
    height: 100%;
    min-height: 0;
    & > * {
      width: 260px;
    }
  }
}
