@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.board {
  display: flex;
  flex-direction: column;
  gap: $space-sm;

  &__title-form {
    height: 48px;
  }

  &__header {
    padding: $space-sm;
    color: $color-secondary-100;
    font-weight: $font-bold;
    cursor: pointer;
    max-width: 250px;
    @include text-lg;
    @include truncate;
  }

  &__lists {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: $space-md;
    padding: $space-sm;
    overflow-x: auto;
    height: 100%;
    min-height: 0;
    & > * {
      flex: 0 0 260px;
    }
  }

  &__add-list {
    width: "100%";
    display: flex;
    align-items: center;
    height: 40px;
    padding: $space-sm;
    color: $color-secondary-100;
    border-radius: 0.2rem;
    background-color: $color-primary-200;
    cursor: pointer;
    border: none;
    gap: $space-xs;

    @include bg-transition;
    @include text-base;

    &:hover {
      background-color: darken($color-primary-200, 2%);
    }

    svg {
      width: 12px;
      height: 12px;
    }
  }
}
