@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.board {
  display: flex;
  flex-direction: column;
  gap: $space-sm;
  height: 100vh;
  width: 100%;

  &__header {
    padding: $space-sm;
    color: $color-secondary-100;
    font-weight: $font-bold;
    cursor: pointer;
    @include text-lg;
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: $space-sm;
    overflow-x: auto;
  }

  &__add-list {
    display: flex;
    align-items: center;
    height: 40px;
    padding: $space-sm;
    color: $color-secondary-100;
    border-radius: 0.2rem;
    background-color: $color-primary-200;
    cursor: pointer;
    border: none;
    gap: $space-xs;

    @include bg-transition;
    @include text-base;

    &:hover {
      background-color: darken($color-primary-200, 2%);
    }

    svg {
      width: 12px;
      height: 12px;
    }
  }
}
