@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: $space-xs;
  background-color: $color-secondary-100;
  padding: $space-sm;
  border-radius: $space-xs;
  box-shadow: $color-secondary-200 0px 1px 0px;
  @include bg-transition;

  &:hover {
    background-color: $color-secondary-200;
  }

  &__title {
    color: $color-gray-400;
    @include truncate;
    @include text-sm;
  }
}
