@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.input {
  @include text-base;
  color: $color-gray-500;
  padding: $space-xs;
  border-radius: $radius-sm;
  font-weight: $font-bold;
  border: none;
}

.input::placeholder {
  color: $color-gray-300;
  font-weight: $font-bold;
}
