@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.input {
  &__control {
    @include text-base;
    color: $color-gray-500;
    padding: $space-xs;
    border-radius: $radius-sm;
    font-weight: $font-bold;
    border: none;
  }

  &__control::placeholder {
    color: $color-gray-300;
    font-weight: $font-bold;
  }
}
