@use "@/styles/abstracts/variables" as *;

.list {
  background-color: $color-gray-100;
  border-radius: $radius-sm;
  padding: $space-md;
  display: flex;
  flex-direction: column;
  gap: $space-md;
}

.listHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
