@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  background-color: $color-secondary-100;
  width: 420px;
  color: $color-gray-300;
  padding: $space-md;
  border-radius: $radius-md;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
  transition: transform 0.3s ease;

  .modal-overlay.active & {
    transform: translateY(0);
  }

  @include respond(sm) {
    width: 300px;
    padding: $space-md;
  }

  &__close {
    width: 16px;
    height: 16px;
    color: $color-gray-300;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: $space-md;
    color: $color-gray-500;
  }

  &__body {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: $space-md;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: $space-sm;
  }
}
