@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.card {
  &__body {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__button {
    border: none;
    padding: $space-xs $space-sm;
    border-radius: $radius-sm;
    background-color: $color-gray-100;
    color: $color-gray-500;
    @include bg-transition;
    @include text-xs;
    cursor: pointer;
  }

  &__button:hover {
    background-color: $color-gray-200;
  }
}
