@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.task-list {
  position: relative;

  &__title {
    cursor: pointer;
    font-weight: $font-bold;
    @include text-sm;
    @include truncate;
    max-width: 80%;

    &:hover {
      opacity: 0.9;
    }
  }

  &__title-form {
    width: 100%;
  }

  &__actions-wrapper {
    position: absolute;
    top: 40px;
    right: -80px;
    width: 100%;
  }

  &__tasks {
    display: flex;
    flex-direction: column;
    gap: $space-sm;
  }

  &__add-button {
    width: 100%;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $color-gray-300;
    padding: $space-xs $space-sm;
    @include text-sm;
    @include bg-transition;

    & svg {
      width: 12px;
      height: 12px;
    }

    &:hover {
      background-color: $color-gray-200;
    }
  }
}
