@use "breakpoints" as *;

@mixin respond($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
